<?xml version="1.0"?>
<config>
  <modules>
    <Fanxiang_Cascade>
      <version>1.0.0</version>
    </Fanxiang_Cascade>
  </modules>
  <global>
    <blocks>
      <cascade>
        <class>Fanxiang_Cascade_Block</class>
      </cascade>
    </blocks>
    <helpers>
      <cascade>
        <class>Fanxiang_Cascade_Helper</class>
      </cascade>
    </helpers>
    <models>
      <cascade>
        <class>Fanxiang_Cascade_Model</class>
        <resourceModel>cascade_mysql4</resourceModel>
      </cascade>
      <cascade_mysql4>
        <class>Fanxiang_Cascade_Model_Mysql4</class>
        <entities>
          <city>
            <table>region_city</table>
          </city>
          <district>
            <table>city_district</table>
          </district>
        </entities>
      </cascade_mysql4>
    </models>
    <resources>
      <cascade_read>
        <connection>
          <use>core_read</use>
        </connection>
      </cascade_read>
    </resources>
  </global>
  <frontend>
    <routers>
      <cascade>
        <use>standard</use>
        <args>
          <module>Fanxiang_Cascade</module>
          <frontName>cascade</frontName>
        </args>
      </cascade>
    </routers>
    <events>
      <!--订单生成前按城市ID获取实际城市名 -->
        <checkout_type_onepage_save_order>
          <observers>
            <update_cityname_to_order>
              <type>model</type>
              <class>Fanxiang_Cascade_Helper_Data</class>
              <method>updateCityName</method>
            </update_cityname_to_order>
          </observers>
        </checkout_type_onepage_save_order>
      </events>
    </frontend>
  </config>