<?xml version="1.0"?>

<config>
    <modules>
        <Fanxiang_Qlogin>
            <version>1.0.0</version>
        </Fanxiang_Qlogin>
    </modules>
    
    <global>
      <models>
            <qlogin>
                    <class>Fanxiang_Qlogin_Model</class>
                    <resourceModel>qlogin_mysql4</resourceModel>
            </qlogin>
            <qlogin_mysql4> 
                    <class>Fanxiang_Qlogin_Model_Resource_Mysql4</class>
                    <entities>
                        <sessionpost>
                            <table>qq_session</table>
                        </sessionpost>
                    </entities> 
            </qlogin_mysql4>
        </models>
        <blocks>
            <qlogin>
                <class>Fanxiang_Qlogin_Block</class>
            </qlogin>
        </blocks>     
        <helpers>
            <qlogin>
                <class>Fanxiang_Qlogin_Helper</class>
            </qlogin>
        </helpers>        
        <resources>
            <qqlogin_setup>
                <setup>
                    <module>Fanxiang_Qlogin</module>
                    <class>Fanxiang_Qlogin_Model_Setup_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qqlogin_setup>
  		</resources>

    </global>
    
    <frontend>
        <routers>
         <qlogin>
            <use>standard</use>
            <args>
               <module>Fanxiang_Qlogin</module>
               <frontName>qlogin</frontName>
            </args>
         </qlogin>
        </routers>
                 <layout>
            <updates>
                <qlogin>
                    <file>qlogin.xml</file>
                </qlogin>
            </updates>
        </layout> 
        <events>
         
          <customer_login>
    				<observers>
    					<bind_with_qq>
    						<type>model</type>
    						<class>Fanxiang_Qlogin_Helper_Data</class>
    						<method>loginBindqq</method>
    					</bind_with_qq>
    				</observers>
      		</customer_login>
          
          <customer_register>
    				<observers>
    					<register_bind_with_qq>
    						<type>model</type>
    						<class>Fanxiang_Qlogin_Helper_Data</class>
    						<method>registerBindqq</method>
    					</register_bind_with_qq>
    				</observers>
      		</customer_register>
          
      </events>
        </frontend> 
            <adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <qlogin>
                                            <title>QQ登录</title>
                                        </qlogin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml> 
</config>
