<?xml version="1.0"?>
<config>
  <modules>
    <Fanxiang_Coupon>
      <version>1.0.0</version>
    </Fanxiang_Coupon>
  </modules>
  <global>
    <blocks>
      <coupon>
        <class>Fanxiang_Coupon_Block</class>
      </coupon>
      <!--重写 -->
        <checkout>
          <rewrite>
            <cart_coupon>Fanxiang_Coupon_Block_Cart_Coupon</cart_coupon>
          </rewrite>
        </checkout>
        <adminhtml>
            <rewrite>
              <customer_grid>Fanxiang_Coupon_Block_Adminhtml_Customer_Grid</customer_grid>
            </rewrite> 
        </adminhtml>
      </blocks>
      <helpers>
        <coupon>
          <class>Fanxiang_Coupon_Helper</class>
        </coupon>
      </helpers>
      <models>
        <coupon>
          <class>Fanxiang_Coupon_Model</class>
          <resourceModel>coupon_mysql4</resourceModel>
        </coupon>
        <coupon_mysql4>
          <class>Fanxiang_Coupon_Model_Resource_Mysql4</class>
          <entities>
            <coupon>
              <table>youhuiquan</table>
            </coupon>
            <coupontype>
              <table>youhuiquantype</table>
            </coupontype>
          </entities>
        </coupon_mysql4>
        <!--重写 -->
          <salesrule>
            <rewrite>
              <quote_discount>Fanxiang_Coupon_Model_Quote_Discount</quote_discount>
            </rewrite>
          </salesrule>
        </models>
        <resources>
          <coupon_write>
            <connection>
              <use>default_write</use>
            </connection>
          </coupon_write>
          <coupon_read>
            <connection>
              <use>default_read</use>
            </connection>
          </coupon_read>
          <coupon_setup>
        				<setup>
        					<module>Fanxiang_Coupon</module>
        					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        				</setup>
        				<connection>
        					<use>default_setup</use>
        				</connection>
        			</coupon_setup>
        </resources>
        <!--使用优惠券 -->
          <rewrite>
            <Fanxiang_Coupon_Checkout_Cart>
              <from>
                <![CDATA[#^/checkout/cart/#]]>
              </from>
              <to>/coupon/checkout_cart/</to>
            </Fanxiang_Coupon_Checkout_Cart>
          </rewrite>
        </global>
        <adminhtml>
          <layout>
            <updates>
              <coupon>
                <file>coupon.xml</file>
              </coupon>
            </updates>
          </layout>
        </adminhtml>
        <frontend>
          <routers>
            <coupon>
              <use>standard</use>
              <args>
                <module>Fanxiang_Coupon</module>
                <frontName>coupon</frontName>
              </args>
            </coupon>
          </routers>
          <events>
          <!--订单生成时保存订单号到优惠券表 -->
          <checkout_type_onepage_save_order_after>
    				<observers>
    					<save_dindanhao_to_youhuiquan>
    						<type>model</type>
    						<class>Fanxiang_Coupon_Helper_Data</class>
    						<method>saveDindanhao</method>
    					</save_dindanhao_to_youhuiquan>
    				</observers>
      		</checkout_type_onepage_save_order_after>
          <!--注册送优惠券 -->
          <!-- 
          <rewards_new_customer_create>
    				<observers>
    					<register_send_coupon>
    						<type>model</type>
    						<class>Fanxiang_Coupon_Helper_Data</class>
    						<method>registerSendcoupon</method>
    					</register_send_coupon>
    				</observers>
      		</rewards_new_customer_create>
          -->
          
          <controller_action_postdispatch>
                <observers>
                    <coupon_cart_rule>
          						<type>model</type>
          						<class>Fanxiang_Coupon_Helper_Data</class>
          						<method>applyCartRule</method>
                    </coupon_cart_rule>
                </observers>
            </controller_action_postdispatch>

          </events>
          <layout>
            <updates>
                <coupon>
                    <file>coupon.xml</file>
                </coupon>
            </updates>
        </layout>
        </frontend>
        <admin>
          <routers>
            <coupon>
              <use>admin</use>
              <args>
                <module>Fanxiang_Coupon</module>
                <frontName>coupon</frontName>
              </args>
            </coupon>
          </routers>
        </admin>
                    <adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <coupon>
                                            <title>优惠券管理</title>
                                        </coupon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
           <events>
          <!--按促销规则送优惠券 -->
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <coupon_present_action>
            						<type>model</type>
            						<class>Fanxiang_Coupon_Helper_Data</class>
            						<method>presentCoupon</method>
                    </coupon_present_action>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>

          </events>
    </adminhtml> 
      </config>