@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:middle;
    background:transparent;
}
body {
    line-height:1;
    font:12px/1.5 tahoma,arial,\5b8b\4f53;
    color: #000;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
ol,ul,li{
    list-style:none;
}
button{
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    outline: none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
h1,h2,h3,h4,h5{
    font-weight: 600;
}
input, select,textarea{
    vertical-align:middle;
    outline: none;
    box-shadow:inset 2px 2px 2px #ddd;
}
em,address{
    font-style: normal;
}
.disin{
    display: inline;
}
.top .coyel,.sales-count .count,.catalogsearch-result-index .block-layered-nav dt,.catalogsearch-result-index .block-layered-nav dt a,.main .back_note a,footer a:hover,.tags-list a:hover,.drop-down a:hover,.ihover a:hover{
    color: #f08200;
}
.mt30{
    margin-top: 30px;
}
.coyel{
    color: #f08200;
}
.placeholder{
    color:#5d5d5d;
}
.cf:before,.cf:after{
    content:"";
    display:table;
}
.cf:after{
    clear:both;
}
.cf{
    zoom:1;
}
.fr{
    float: right;
}
.disib{
    display: inline-block;
}
.fl{
    float: left;
}
.posr{
    position: relative;
}
.posa{
    position: absolute;
}
.curp{
    cursor: pointer;
}
.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.mtb10{
    margin: 10px 0;
}
.pt10{
    padding-top: 10px;
}
.fwn{
    font-weight: 500;
}
.fwb{
    font-weight: 600;
}
.micya{
    font-family: "Microsoft YaHei","微软雅黑";
}
article{
    background: #000;
    box-shadow: 0 14px 20px #959595;
}
#header{
    color: #b6b6b6;
    background: -webkit-radial-gradient(circle closest-side, #3b3b3b, #000 360%) -280px -20px no-repeat;
    background:-moz-radial-gradient(circle closest-side, #494949, #000 360%) -280px -20px no-repeat;
    background:-radial-gradient(circle closest-side, #494949, #000 360%) -280px -20px no-repeat;
}
article a{
    color: #b6b6b6;
}
article section{
    float: right;
    padding-top: 4px;
    width: 650px;
}
.hello{
    text-align: right;
}
.hello li{
    display: inline;
    padding:8px 10px;
    height: 22px;
    line-height: 21px;
    margin: 0 4px;
}
.hello li b{
    border-width: 4px;
    border-style: solid;
    border-color: #ababab #000 #000;
    position: absolute;
    bottom: 3px;
    width: 0;
    height: 0;
    right: -3px;
    *bottom: 8px;
    _bottom:40px;
}
.hello .login{
    padding: 8px 0;
    margin: 0;
}
.hello .register{
    padding: 0;
}
.register strong{
    margin-left: 6px;
    bottom: 2px;
}
header{
    margin-top: 34px;
    width: 290px;
}
#search_mini_form,#advanced-search-list li{
    overflow: hidden;
}
#search_mini_form{
    width: 254px;
}
.search-area{
    width: 260px;
    height: 52px;
    overflow: hidden;
    margin-top: 12px;
}
.form-search{
    border: 1px #303030 solid;
    width: 242px;
    height: 25px;
    padding-left: 5px;
    overflow: hidden;
}
#search{
    height: 22px;
    line-height: 22px;
    width: 221px;
    border: none;
    background: #000000;
    color: #b6b6b6;
    box-shadow: none;
    margin-top: 1px;
}
.form-search button{
    width: 20px;
    height: 24px;
    background: url(../images/search.png) no-repeat left center;
}
.search-area ul{
    width: 260px;
    *width:268px;
    overflow: hidden;
    margin-top: 4px;
}
.search-area ul li{
    display: inline;
    padding: 0 2px;
}
.search-area ul li a,.search-area ul li{
    color: #5d5d5d;
}
.search-area .form-laster{
    clear: both;
    overflow: hidden;
}
.search-area .form-laster a{
    color: #fff;
    clear: both;
    overflow: hidden;
}
.hello .nopa{
    padding-right: 2px;
    margin-left: 10px;
    bottom: 2px;
}
nav{
    width: 1000px;
    margin: 16px auto 0 auto;
    height: 36px;
}
.nav{
    width: 785px;
    height: 24px;
    z-index: 9;
}
.nav li{
    float: left;
    height: 24px;
    line-height: 21px;
}

nav .nav li a{
    background-image: url(../images/nav.jpg);
    height: 24px;
    display: block;
    text-indent: -9999px;
    background-repeat:no-repeat;
}
nav .nav-first a{
    width: 64px;
    background-position:0px 0px;
}
.nav-first a:hover{
    background-position:0px -24px;
}
.words3 a{
    width: 60px;
}
.words2 a{
    width: 58px;
}
.nav .nav2 a{
    background-position:-74px -0px;
}
.nav2 a:hover{
    background-position:-74px -24px;
}
.nav3 a{
    background-position: -136px 0px;
}
.nav3 a:hover{
    background-position: -136px -24px;
}
.nav4 a{
    background-position:-201px -0px;
}
.nav4 a:hover{
    background-position:-201px -24px;
}
.nav5 a{
    background-position:-256px -0px;
}
.nav5 a:hover{
    background-position:-256px -24px;
}
.nav6 a{
    background-position:-317px -0px;
}
.nav6 a:hover{
    background-position:-317px -24px;
}
.nav7 a{
    background-position:-383px -0px;
}
.nav7 a:hover{
    background-position:-383px -24px;
}
.nav8 a{
    background-position:-443px -0px;
}
.nav8 a:hover{
    background-position:-443px -24px;
}
.nav9 a{
    width:96px;
    background-position:-511px -0px;
}
.nav9 a:hover{
    background-position:-511px -24px;
}
.nav10 a{
    width:76px;
    background-position:-608px -0px;
}
.nav10 a:hover{
    background-position:-608px -24px;
}
.nav11 a{
    width: 82px;
    background-position:-695px -0px;
}
.nav11 a:hover{
    background-position:-695px -24px;
}
.nav li .drop-down{
    display: none;
    position: absolute;
    left: -52px;
    top: 34px;
    width: 960px;
    height: 210px;
    background: url(../images/drop-down.png) no-repeat;
    padding-top: 12px;
    z-index: 99;
}
.nav .drop-down a{
    text-indent: 0;
    background: none;
    display: inline;
}
.drop-down dl{
    margin-bottom:10px;
    width: 150px;
}
.drop-down dd{
    padding-left: 24px;
    height: 20px;
    line-height: 20px;
}
.drop-down dt{
    padding-left: 12px;
    font-weight: 600;
    background: url(../images/menu-icon.png) no-repeat left center;
}
.drop-down section{
    float: left;
    width: 152px;
    height: 207px;
    margin-left: 10px;
    background: url(../images/sectionBorder.png) right center no-repeat;
}
.drop-down .dropdown-img{
    margin: 20px 0 0 34px;
}
.drop-down .dropThree{
    width: 220px;
    margin-left: 20px;
}
.drop-down .noback{
    background: none;
}
.nav9 .drop-down .dropdown-img{
    margin: 10px 78px 0 0;
}
.nav9 .drop-down .noback{
    margin: 10px 78px 0 16px;
}
.nav10 .drop-down .dropThree{
    margin-left: 42px;
}
.nav8 .drop-down .dropThree{
    width: 194px;
    margin-left: 16px;
}
.nav5 .drop-down .dropThree{
    width: 180px;
}
.drop-down .w130{
    width: 130px;
}
.nav9 dl a{
    font-size: 14px;
    font-weight: 600;
}
.nav6 .drop-down .dropThree {
    margin-left: 0;
}
.nav5 .drop-down .first-section {
    width: 138px;
}
.drop-down .first-section{
    margin-left: 80px;
    _margin-left: 40px;
}
.nav8 .drop-down section dl{
    min-height: 101px;
    height: auto !important;
    height: 101px;
}
.drop-down section dl{
    min-height: 76px;
    height: auto !important;
    height: 76px;
}
.menu-color dd{
    display: inline-block;
    width: 36px;
    float: left;
}
.menu-color dt{
    display: block;
    width: 100px;
}
.nav .drop-down .findout{
    position: absolute;
    top: 188px;
    left: 28px;
    padding-right: 10px;
    background: url(../images/findout.png) no-repeat 5px center;
    color: #f08200;
}
.drop-down  img{
    margin-top: -12px;
}
.banners{
    width: 100%;
    height: 469px;
    margin: 0 auto;
}

#features,#features img,.jshowoff{
    width: 100%;
    height: 469px;
}
.jshowoff-slidelinks{
    display: none;
}
.bill{
    width: 196px;
    float: right;
    height: 33px;
}
.bill span{
    line-height: 23px;
}
#shop-cart{
    height: 33px;
    padding-left: 38px;
    background: url(../images/shopcart.png) no-repeat left center;
}
#settlement{
    background: url(../images/settlement.png) no-repeat;
    width: 48px;
    height: 16px;
    margin-left: 4px;
    position: relative;
    top:2px;
}
.bill a{
    float: left;
}
footer{
     width: 1028px;
     height: 174px;
     margin: 0 auto;
     background: url(../images/foot-back.gif) repeat-x;
     box-shadow: 10px 14px 20px #959595,-10px 14px 20px #959595;
}
.attention{
   margin-right: 38px;
   _margin-right: 19px;
}
.cms-home footer{
    box-shadow: none;
}
footer img{
   margin: 18px 0 0  70px;
}
#footer{
    width: 1002px;
    margin: 10px auto;
}
.foot-service{
    margin-top:35px;
}
footer a,footer span{
    color: #8b8b8b;
}
.foot-info a{
    padding-right: 18px;
    margin: 0 8px;
    background: url(../images/footer-serivce.gif) no-repeat right 3px;
}
.foot-nav{
    overflow: hidden;
    padding: 16px 0 0 4px;
}
.foot-nav a{
    margin: 0 4px;
    float: left;
}
.foot-nav b{
    color: #3d3d3d;
    float: left;
    margin-right: 2px;
    font-style: normal;
}
.foot-nav span{
    float: right;
    margin-right: 38px;
}
.foot-nav span b{
    float: none;
}
.foot-nav span a{
    color: #f08200;
    cursor: default;
    float: none;
}
.foot-info{
    width: 600px;
    margin-top: 6px;
    padding-left: 10px;
}
.back-to{
    display: block;
    width:46px;
    height: 46px;
    overflow:hidden;
    position: absolute;
    top:630px;
    z-index:99;
    right:2%;
    cursor:pointer;
    background-image: url(../images/back-top.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.open-to{
    background: url(../images/toshow.png) no-repeat;
}
.block-compare{
    width:1008px;
    overflow:hidden;
    border: 1px #dbdbdb solid;
    text-align: center;
    position: fixed;
    bottom:2%;
    z-index:999;
    right:13%;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-1150));
}
.block-compare .empty{
    background: #FFFFFF;
}
.block-compare .block-title{
    height: 25px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#dfdfdf));
    background: -webkit-linear-gradient(#FFFFFF, #dfdfdf);
    background: -moz-linear-gradient(#FFFFFF, #dfdfdf);
    background: -o-linear-gradient(#FFFFFF, #dfdfdf);
    Filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF',endColorstr='#dfdfdf');
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#dfdfdf')";
    background: linear-gradient(#FFFFFF, #dfdfdf);
}
.block-compare .block-content .btn-remove{
    width: 13px;
    height: 13px;
    margin: 4px 5px 0 0;
    background: url(../images/compare-close.png) no-repeat;
}
.block-compare .block-content .compare-items{
    padding: 6px 0;
}
#compare-items{
    background: #FFFFFF;
}
.block-compare .block-content li{
    width: 110px;
    padding: 2px 0;
    margin-right: 10px;
}
.block-compare .block-content li .product-name{
    width: 88px;
}
.block-compare .block-content .actions{
    background: #000000;
    height: 34px;
    line-height: 32px;
}
.block-compare .block-content .actions a{
    display: inline-block;
    margin-left: 10px;
}
.wapper .block-compare .block-content,#cart-sidebar{
    background: #FFFFFF;
}
/*===============================*/
#send-email{
    width: 214px;
    height: 24px;
    line-height: 24px;
    padding-left: 8px;
    border: 1px #000 solid;
    box-shadow: inset 1px 2px 10px #000;
    float: left;
}
#click-send{
    background: url(../images/click-send.png) no-repeat;
    width: 57px;
    height: 21px;
    margin-left: 8px;
    float: left;
    margin-top: 3px;
}
.attention  span{
    float: left;
    margin-right: 140px;
    float: left;
}
.attention a{
    display: inline-block;
    width: 17px;
    height: 18px;
    margin-right: 6px;
    position: relative;
    top:6px;
}
#weibo{
    margin-left: 6px;
    background: url(../images/weibo.png) no-repeat;
}
#tengxun{
    background: url(../images/tengxun.png) no-repeat;
}
#renren{
    background: url(../images/renren.png) no-repeat;
}
.otherlogin{
    width: 45px;
    position: absolute;
    background: #212121;
    display: none;
    top: 30px;
    left: 0;
    _left:4px;
}
#otherlogin a{
    display: block;
    width: 23px;
    margin: 4px auto;
}
.sina{
    background: url(../images/sina.png) no-repeat;
    height: 19px;
}
/*#otherlogin dd{
    height: 24px;
    line-height: 24px;
}
#otherlogin .alipay{
    background: url(../images/alipay.png) no-repeat;
    height: 21px;
    margin-top: 10px;
}
.hello .drop-otherlogin{
    background: #212121;
}
.drop-otherlogin .otherlogin,.disb{
    display: block;
}*/
#my-info{
    width: 72px;
}
#my-info dd,.iCart .empty,.block-layered-nav .block-title{
    text-align: center;
}
.hello .drop-otherlogin b{
    border-color:#ababab #212121 #212121;
}
.block-layered-nav .block-title{
    background: url(../images/sales-choices.png) repeat-x;
    color: #fff;
    height: 32px;
    line-height: 32px;
    margin: 39px 0 10px 0;
    font-size: 16px;
    border-top: 1px #000 solid;
}
/*========video==========*/
#popup{
    width: 838px;
    height: 520px;
    padding: 14px;
    position: absolute;
    top: 600px;
    left: 250px;
    z-index: 999;
    background: #000;
    display: none;
}
#popup .close-video{
    position: absolute;
    width: 11px;
    height: 13px;
    background: url(../images/close-video.png) no-repeat;
    right: 2px;
    top: 3px;
}
#showcase{
    height: 370px;
    padding: 8px;
    border: 1px #787878 solid;
}
.video-info{
    width: 200px;
}
.video-info p{
    font-size: 14px;
    font-family: "Microsoft YaHei","微软雅黑";
}
.video-info img{
    margin: 80px 0 28px 0;
}
.grey{
    opacity: 0.2;
    filter:alpha(opacity=20);
    background: #fff;
}
.showcase-thumbnail-caption{
    padding-left: 33px;
    background: url(../images/video-play.png) no-repeat;
    height: 24px;
    margin-top: 4px;
}
.showcase-thumbnail{
    float: left;
}
.showcase-thumbnail{
    width: 100px;
    height: 124px;
    cursor: pointer;
    position: relative;
    margin: 22px 36px 0 0;
}
/*============================*/
.breadcrumbs{
    width: 1028px;
    height: 20px;
    margin: 0 0 10px 20px;
}
.breadcrumbs li{
   display: inline;
   height: 20px;
   line-height: 21px;
}
.breadcrumbs li a,.seach_hot,.block-compare a{
    color: #666666;
}
.breadcrumbs strong,#cart-sidebar a,.iCart{
    font-weight: 500;
    color: #333333;
}
.account-login{
    width: 961px;
    margin: 0 auto;
    color: #000000;
}
.normal{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
.cms-home .main-container{
    padding: 0;
}
.main{
    overflow: hidden;
    width: 1028px;
    margin: 0 auto;
    padding-top: 10px;
    box-shadow: 10px 14px 20px #cdcdcd,-10px 14px 20px #cdcdcd;
}
.cms-home .main{
    width: 100%;
    box-shadow: none;
    padding-top: 0;
}
.main a{
    color: #333333;
}
.discount-form{
    width: 500px;
}

.disno,.back-link,.notice-msg,#wishlist-table .price-box .label,.customer-account-login .account-create .messages,.compare-table .label,.products-grid .price-box .label{
    display: none;
}

/*============hot-sale===========*/
.cms-home .wrapper{
    background:#e2e2e2;
}
.sales{
    width: 1000px;
    padding: 10px 14px;
    background:#fff;
}
#new-arrival{
    width: 330px;
}
#hot-sale{
    width: 662px;
}
.new-sales h2{
    background-image:url(../images/new-h2.png);
    background-repeat: no-repeat;
    background-position:  6px center;
    background-color: #ededed;
    height: 30px;
    line-height: 30px;
    *line-height: 36px;
    padding-left: 30px;
    font-size: 18px;
    margin-bottom: 6px;
    position: relative;
}
.hot-right{
    width: 661px;
    height: 177px;
}
.sickBottom{
    margin-top: 5px;
}
.new-sales h2 a{
    color: #666;
    font-size: 12px;
    margin-left: 510px;
    font-weight: 500;
}
.hasMore b,.hasMore strong{
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-color: #ededed #ededed #ededed #f08200;
    top: 14px;
    right:8px;
}
.sth img{
    margin-right: 10px;
}
.video img{
    margin: 0;
}
/*===============product=================*/
.messages{
    margin-top: 10px;
}
.messages li{
    margin: 10px auto;
}
.error-msg, .success-msg, .note-msg, .notice-msg{
    background-position: 10px 14px !important;
    background-repeat: no-repeat !important;
    width: 1000px;
    margin: 0 auto;
    font-size: 14px !important;
}
.about-products .btn-cart{
    margin: 10px 0 0 20px;
}
.success-msg,.error-msg{
    padding: 10px 40px;
    background-color: #e2e2e2;
    color: #f08200;
}
.error-msg{
    width: 866px;
    color: #000000;
    background: #FFFFFF;
    border: 1px #f08200 solid;
}
.sales-order-view .order_dates{
    height: 30px;
    line-height: 30px;
    background: #efefef;
    color: #666666;
    font-weight: 600;
}
.about-products .btn-cart{
    width: 135px;
    height: 46px;
    background: url(../images/btn-cart.png) no-repeat;
}
.product-type-data .sales-count{
    padding-top: 10px;
    border-top: 1px #cecece dotted;
}
.basicAttr{
    padding-top: 8px;
    border-top: 1px #cecece dotted;
}
.basicAttr li{
    display: none;
}
.basicAttr .key{
    float: left;
    width: 200px;
    display: block;
}
.basicAttr li span{
    color: #666666;
}
.about-products .shoucang .btn-cart{
    margin: 0;
}
.sales-order-view .col2-set{
    width: 700px;
}
.sales-order-view .order-items #my-orders-table{
    width: 770px;
}
.sales-order-view .order-items #my-orders-table th{
    color: #333333;
    font-weight: 600;
}
.sales-order-view .order-items #my-orders-table td h3{
    font-weight: 500;
}
.sales-order-view .order-items #my-orders-table tfoot tr td{
    text-align: right;
}
.sales-order-view .order-items #my-orders-table .grand_total .last .price{
    color: #bf1111;
}
.sales-order-view .my-account .order-details{
    width: 770px;
    padding:0 14px;
}
.sales-order-view .account_layout{
    padding: 0;
}
.sales-order-view .order_dates .order-date{
    margin-right: 10px;
}
.sales-order-view  .order-info dt{
    margin-left: 32px;
}
.review-customer-index .data-table{
    width: 768px;
}
.coupon-index-index .page-title-content-one{
    width: 800px;
    float: right;
    margin: 20px 10px 0 0;
}
.my-account .title-buttons button{
    float: right;
    color: #b30707;
}
.ddh,.qfk_button{
    margin: 10px 0;
}
.checkout-onepage-success .main{
    width: 988px;
    padding: 0 20px;
}
#recently-viewed-items li{
    margin-right: 20px;
}



/*===============minicart=============*/
.iCart{
    display: none;
    width: 344px;
    right: 20px;
    top: 30px;
    border: 1px #3e3e3e solid;
    z-index: 999;
}
#cart-sidebar li{
    height: 74px;
    padding: 0 12px;
    line-height: 74px;
    border-bottom: 1px #CCCCCC dotted;
}
#cart-sidebar .last{
    border-bottom: none;
}
#cart-sidebar .product-details{
    width: 262px;
    height: 74px;
    overflow: hidden;
    margin-left: 4px;
}
#cart-sidebar .product-image{
    display: block;
}
.iCart .actions,.iCart .empty{
    height: 80px;
    padding-right: 14px;
    background: #f3f3f3;
    overflow: hidden;
}
.iCart button{
    width: 100px;
    height: 33px;
    background: url(../images/icart.png) no-repeat;
}
.iCart .amount{
    margin-left: 62px;
    line-height: 23px;
}
.catalogsearch-result-index .col-main{
    width: 750px;
    float: right;
}
.iCart .btn-remove{
    float: right;
}
.iCart .product-name{
    width: 138px;
    overflow: hidden;
}
.iCart .empty{
    line-height: 70px;
}
.cms-no-route .error_page{
    margin: 110px auto;
}
.onestepcheckout-title{
    margin: 30px 0 20px 30px;
}
#onestepcheckout_popup_overlay{
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity = 70);
    position: absolute;
    width: 100%;
    height: 1510px;
    left: 0;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 9;
}
.col2-left-layout .col-main{
    width: 750px;
    float: right;
    margin-right: 10px;
}
/*=================*/
.browserWarn{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 3%;
    background-color: #121212;
    background-image: url(../images/browserWarn.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
    color: #f08200;
    _position:absolute;
    _bottom: 0;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}


/* =============== add by wangxianbin ==============*/

.ww-online { margin-left: 5px; }
#online-service { position: fixed; display: none; color: #B6B6B6; z-index: 100; top: 0px}

.online-serivce-list { clear:both; }
.online-serivce-list li { float: left; background: none repeat scroll 0 0 #000000; padding: 4px; }
.online-serivce-list .first { background: url(../images/online-service-left.png) no-repeat scroll 0 0; }
.online-serivce-list .last { background: url(../images/online-service-right.png) no-repeat scroll 0 0; }
