<?xml version="1.0"?>

<config>
    <modules>
        <Fanxiang_Alipayfastlogin>
            <version>1.0.0</version>
        </Fanxiang_Alipayfastlogin>
    </modules>
    <global>
        <blocks>
            <alipayfastlogin>
                <class>Fanxiang_Alipayfastlogin_Block</class>
            </alipayfastlogin>
        </blocks>     
        <helpers>
            <alipayfastlogin>
                <class>Fanxiang_Alipayfastlogin_Helper</class>
            </alipayfastlogin>
        </helpers>        
        <resources>
        		<alipayfastlogin_setup>
        				<setup>
        					 <module>Fanxiang_Alipayfastlogin</module>
        					 <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        				</setup>
        				<connection>
        					 <use>default_setup</use>
        				</connection>
            </alipayfastlogin_setup>
        </resources>
    </global>
    <frontend>
        <routers>
           <alipayfastlogin>
              <use>standard</use>
              <args>
                 <module>Fanxiang_Alipayfastlogin</module>
                 <frontName>alipayfastlogin</frontName>
              </args>
           </alipayfastlogin>
        </routers>
        <layout>
            <updates>
                <alipayfastlogin>
                    <file>alipayfastlogin.xml</file>
                </alipayfastlogin>
            </updates>
        </layout> 
        <events>
            <customer_logout>
        				<observers>
          					<logout_bind_with_alipay>
          						  <type>model</type>
          						  <class>Fanxiang_Alipayfastlogin_Helper_Data</class>
          						  <method>logoutBindalipay</method>
          					</logout_bind_with_alipay>
        				</observers>
        		</customer_logout>
            <customer_login>
      				  <observers>
          					<bind_with_alipay>
          						  <type>model</type>
          						  <class>Fanxiang_Alipayfastlogin_Helper_Data</class>
          						  <method>loginBindalipay</method>
          					</bind_with_alipay>
          			</observers>
        		</customer_login>
            <customer_register>
        				<observers>
          					<register_bind_with_alipay>
            						<type>model</type>
            						<class>Fanxiang_Alipayfastlogin_Helper_Data</class>
            						<method>registerBindalipay</method>
          					</register_bind_with_alipay>
        				</observers>
        		</customer_register>
        </events>
    </frontend> 
    <adminhtml>
		    <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <alipayfastlogin>
                                            <title>支付宝快捷登录</title>
                                        </alipayfastlogin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml> 
</config>
